@page "/trades"
@using TradingApp.BlazorUI.Services
@inject ITradeService TradeService
@inject CsvTradeImporter Importer
@inject IWebHostEnvironment Env



<h3>Imported Trades</h3>

@if (trades == null)
{
    <p>Loading...</p>
}
else if (!trades.Any())
{
    <p>No trades found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Product</th>
                <th>Quantity (t)</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trade in trades)
            {
                <tr>
                    <td>@trade.Company?.CompanyName</td>
                    <td>@trade.Product?.ProductName</td>
                    <td>@trade.Product?.Quantity</td>
                    <td>@trade.Price</td>
                    <td>@trade.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    
    private List<TradeEntry>? trades;

    protected override async Task OnInitializedAsync() //Runs when the page is loaded — this is where data is fetched
    {
        var csvPath = Path.Combine(Env.WebRootPath, "TradeData.csv");
        await Importer.ImportTradesFromCsv(csvPath);
        trades = await TradeService.GetAllTradesAsync(); //Calls EF-based data service to load data from the database.
    }
}
